@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #FA453C;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #FA3C8D;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FAC6C3;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FAA46A;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #FA453C;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #FA673C;
}
a:visited {
     color: #F865FA;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
